<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
		form
		{
		text-align: center;
        padding: 13px;
        margin-left: 230px;
        margin-right: 230px;
        background-color: antiquewhite;
		}
	</style>
</head>
<body>
	<h2 style="background-color:pink;color:black; margin-left:230px;margin-right:230px;text-align:center;padding:10px">Login Form</h2>
	<form>
	<label>Username</label>
    <input type="text" name=""><br><br>
    <label>Password</label>
    <input type="password" name=""><br><br>
    <button>Login</button>
    </form>
</body>
</html>